/* ===========================================
   ESTILO PÁGINA PROJETOS
=========================================== */

:root {
    --rosa-principal: #ff7db8;
    --rosa-claro: #ffd6e8;
    --lilas: #c8a2ff;
    --lilas-claro: #f5eaff;
    --branco: #ffffff;
    --cinza-texto: #444;
}

main {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.projects-container {
    max-width: 1100px;
}

/* TÍTULO */
.academic-projects-title {
    text-align: center;
    color: var(--rosa-principal);
    font-size: 2.3rem;
    margin-bottom: 40px;
}

/* CARD DO PROJETO */
.project-item {
    display: flex;
    gap: 25px;
    background: var(--branco);
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: 0 8px 20px rgba(200, 162, 255, 0.25);
    align-items: center;
}

/* ALTERNAR CARD */
.project-right {
    flex-direction: row-reverse;
}

/* IMAGENS */
.project-media {
    width: 280px;
    border-radius: 18px;
    box-shadow: 0 8px 15px rgba(150, 120, 255, 0.3);
}

/* TEXTOS DOS CARDS */
.project-title {
    font-size: 1.6rem;
    color: var(--lilas);
    margin-bottom: 10px;
}

.project-text p {
    margin-bottom: 12px;
    line-height: 1.5;
}

.code-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 20px;
    background: var(--lilas);
    color: var(--branco);
    border-radius: 14px;
    text-decoration: none;
    transition: 0.3s ease;
}

.code-link:hover {
    background: var(--rosa-principal);
    transform: translateY(-2px);
}

.projects-tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}

.tab-btn {
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid #C75C8C;
    background: #F4B8D2;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.2s;
}

.tab-btn:hover {
    background-color: #E38AB8;
}

.tab-btn.active {
    background-color: #C75C8C;
    transform: scale(1.03);
}

.empty-message {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 40px;
    color: #555;
    background: #f7e5f0;
}
